<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.PostMapper">

    <insert id="insert" parameterType="cn.kmbeast.pojo.entity.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post (title,
                          publisher_username,
                          publisher_id,
                          publish_time,
                          status,
                          content,
                          remark)
        VALUES (#{title},
                #{publisherUsername},
                #{publisherId},
                #{publishTime},
                #{status},
                #{content},
                #{remark})
    </insert>

    <update id="update" parameterType="cn.kmbeast.pojo.entity.Post">
        UPDATE post
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="publisherUsername != null">
                publisher_username = #{publisherUsername},
            </if>
            <if test="publisherId != null">
                publisher_id = #{publisherId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM post WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" resultType="cn.kmbeast.pojo.entity.Post">
        SELECT * FROM post WHERE id = #{id}
    </select>

    <select id="query" resultType="cn.kmbeast.pojo.entity.Post">
        SELECT * FROM post
        <where>
            <if test="title != null and title != ''">
                AND title LIKE concat('%', #{title}, '%')
            </if>
            <if test="publisherUsername != null and publisherUsername != ''">
                AND publisher_username LIKE concat('%', #{publisherUsername}, '%')
            </if>
            <if test="publisherId != null">
                AND publisher_id = #{publisherId}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND publish_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND publish_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY publish_time DESC
        <if test="current != null and size != null">
            LIMIT #{current}, #{size}
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*) FROM post
        <where>
            <if test="title != null and title != ''">
                AND title LIKE concat('%', #{title}, '%')
            </if>
            <if test="publisherUsername != null and publisherUsername != ''">
                AND publisher_username LIKE concat('%', #{publisherUsername}, '%')
            </if>
            <if test="publisherId != null">
                AND publisher_id = #{publisherId}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND publish_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND publish_time &lt;= #{endTime}
            </if>
        </where>
    </select>

</mapper>
