<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.VaccineRecordMapper">

    <insert id="insert" parameterType="cn.kmbeast.pojo.entity.VaccineRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vaccine_record (
            animal_id,
            animal_name,
            vaccine_name,
            vaccine_type,
            dose,
            inoculation_date,
            next_inoculation_date,
            vet_name
        ) VALUES (
            #{animalId},
            #{animalName},
            #{vaccineName},
            #{vaccineType},
            #{dose},
            #{inoculationDate},
            #{nextInoculationDate},
            #{vetName}
        )
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM vaccine_record WHERE id = #{id}
    </delete>

    <update id="update" parameterType="cn.kmbeast.pojo.entity.VaccineRecord">
        UPDATE vaccine_record
        <set>
            <if test="animalId != null">
                animal_id = #{animalId},
            </if>
            <if test="animalName != null">
                animal_name = #{animalName},
            </if>
            <if test="vaccineName != null">
                vaccine_name = #{vaccineName},
            </if>
            <if test="vaccineType != null">
                vaccine_type = #{vaccineType},
            </if>
            <if test="dose != null">
                dose = #{dose},
            </if>
            <if test="inoculationDate != null">
                inoculation_date = #{inoculationDate},
            </if>
            <if test="nextInoculationDate != null">
                next_inoculation_date = #{nextInoculationDate},
            </if>
            <if test="vetName != null">
                vet_name = #{vetName},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" resultType="cn.kmbeast.pojo.entity.VaccineRecord">
        SELECT 
            id,
            animal_id AS animalId,
            animal_name AS animalName,
            vaccine_name AS vaccineName,
            vaccine_type AS vaccineType,
            dose,
            inoculation_date AS inoculationDate,
            next_inoculation_date AS nextInoculationDate,
            vet_name AS vetName,
            is_deleted AS isDeleted,
            create_time AS createTime
        FROM vaccine_record
        WHERE id = #{id}
    </select>

    <select id="query" resultType="cn.kmbeast.pojo.entity.VaccineRecord">
        SELECT 
            id,
            animal_id AS animalId,
            animal_name AS animalName,
            vaccine_name AS vaccineName,
            vaccine_type AS vaccineType,
            dose,
            inoculation_date AS inoculationDate,
            next_inoculation_date AS nextInoculationDate,
            vet_name AS vetName,
            is_deleted AS isDeleted,
            create_time AS createTime
        FROM vaccine_record
        <where>
            is_deleted = 0
            <if test="animalId != null">
                AND animal_id = #{animalId}
            </if>
            <if test="animalName != null and animalName != ''">
                AND animal_name LIKE concat('%', #{animalName}, '%')
            </if>
            <if test="vaccineName != null and vaccineName != ''">
                AND vaccine_name LIKE concat('%', #{vaccineName}, '%')
            </if>
            <if test="vaccineType != null and vaccineType != ''">
                AND vaccine_type = #{vaccineType}
            </if>
        </where>
        ORDER BY inoculation_date DESC
        <if test="current != null and size != null">
            LIMIT #{current}, #{size}
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*) FROM vaccine_record
        <where>
            is_deleted = 0
            <if test="animalId != null">
                AND animal_id = #{animalId}
            </if>
            <if test="animalName != null and animalName != ''">
                AND animal_name LIKE concat('%', #{animalName}, '%')
            </if>
            <if test="vaccineName != null and vaccineName != ''">
                AND vaccine_name LIKE concat('%', #{vaccineName}, '%')
            </if>
            <if test="vaccineType != null and vaccineType != ''">
                AND vaccine_type = #{vaccineType}
            </if>
        </where>
    </select>

</mapper>